body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}
